<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    
    <!-- See http://www.mongodb.org/display/DOCS/CSharp+Driver+Tutorial#CSharpDriverTutorial-Connectionstrings for more info -->
    <add name="RabbitSettings" connectionString="amqp://daemon:daemon@10.0.2.2:5672/" />
    <add name="MongoServerSettings" connectionString="mongodb://10.0.2.2/it" />
  </connectionStrings>
  <appSettings>
    <add key="AppName" value="daemon" />
    
    <add key="RabbitForward" value="e.all.all.forward" />
    
    <add key="RabbitAll" value="all" />
    <add key="RabbitUser" value="u" />
    <add key="RabbitProject" value="p" />
    <add key="RabbitIssue" value="i" />
    <add key="RabbitStatus" value="s" />
    <add key="RabbitVersion" value="v" />

    <add key="RabbitCommandQueueTemplate" value="q.{0}.{1}.commands" />
    <add key="RabbitCommandRoutingKeyTemplate" value="r.{0}.{1}.command" />
    <add key="RabbitFeedRoutingKeyTemplate" value="r.{0}.{1}.#" />
    <add key="RabbitFeedExchangeTemplate" value="e.{0}.all.feed" />
  </appSettings>
</configuration>